:root {
  --grayishBlue: #9194a1;
}
body {
  margin: 0;
  font-size: 18px;
  width: 100%;
}

/* HEADER */

.header {
  background: #fff;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  padding: 1em 0;
  transition: 0.3s background;
  z-index: 2;
  box-shadow: 0px 6px 7px -4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 6px 7px -4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 6px 7px -4px rgba(0, 0, 0, 0.2);
}

.header__content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu {
  visibility: hidden;
  position: absolute;
  opacity: 0;
  left: 0;
  right: 0;
  top: 100%;
  background: rgba(47, 53, 79, 0.9);
  height: 100vh;
  transform: translateY(-50px);
  transition: 0.3s transform, 0.5s opacity;
  will-change: transform;
}
.menu ul {
  /* padding: 0; */
  /* list-style: none; */
}
.menu li {
  border-top: 1px solid var(--grayishBlue);
}
.menu li:last-child a {
  border: 2px solid #fff;
  border-radius: 5px;
  margin-top: 1em;
  padding: 0.7em;
}
.menu a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  text-align: center;
  padding: 1em;
  letter-spacing: 2px;
}
.menu-open {
  user-select: none;
  width: 40px;
  height: 40px;
  display: inline-flex;
  cursor: pointer;
  background: url("../images/icon-hamburger.svg") no-repeat center;
}
.menu-checkbox {
  display: none;
}
.menu-checkbox:checked ~ .header {
  background: rgba(47, 53, 79, 0.9);
}
.menu-checkbox:checked ~ .header .menu-open {
  background-image: url("../images/icon-close.svg");
}
.menu-checkbox:checked ~ .header .header-logo {
  background-image: url("../images/logo-bookmark-white.svg");
}
.menu-checkbox:checked ~ .header .menu {
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
}

/* hero */

.hero {
  text-align: center;
  padding: 2em 0;
}
.hero-image {
  max-width: 100%;
}
.hero-title {
  font-size: 2.5em;
  font-family: "Nunito", sans-serif;
  margin-top: 0;
}
.hero-content-img {
  display: flex;
}

.hero-parrafo {
  margin-top: 0;
  font-size: 1.5em;
  font-family: "Roboto", sans-serif;
}
.hero-buttons {
  padding-top: 3em;
}
.cohete {
  height: 100px;
}

/* FEATURES */

.features {
  text-align: center;
  padding-top: 0;
  padding-bottom: 2em;
}
.features .u-wrapper > .u-p {
  max-width: 580px;
  margin: 0 auto;
}

.tabs {
  margin-top: 2em;
}
.tabs-link {
  border-bottom: 1px solid var(--grayishBlue);
}
.tabs-content {
  display: none;
  flex-direction: column;
}
[class^="tabs-img-"] {
  max-width: 100%;
  margin-bottom: 1.5em;
  border-radius: 10px;
}
.tabs-grid {
  margin-top: 4em;
}
[class^="tabs-label-"] {
  padding: 1em 0;
  display: block;
  position: relative;
  font-size: 1em;
  letter-spacing: 1px;
}
.tabs [class^="tabs-label-"]:after {
  display: none;
  content: "";
  height: 5px;
  position: absolute;
  bottom: 0;
  width: 50%;
  left: 0;
  transform: translateX(50%);
  box-shadow: inset 0 -15px 0 -10px rgb(97, 95, 155);
}

.tabs input {
  display: none;
}
.tabs
  [class^="tabs-input-"][id="bookmarking"]:checked
  ~ ul
  [for="bookmarking"]:after {
  display: block;
}
.tabs
  [class^="tabs-input-"][id="bookmarking"]:checked
  ~ .tabs-grid
  #tab-bookmarking {
  display: flex;
}
.tabs
  [class^="tabs-input-"][id="searching"]:checked
  ~ ul
  [for="searching"]:after {
  display: block;
}
.tabs
  [class^="tabs-input-"][id="searching"]:checked
  ~ .tabs-grid
  #tab-searching {
  display: flex;
}
.tabs [class^="tabs-input-"][id="sharing"]:checked ~ ul [for="sharing"]:after {
  display: block;
}
.tabs [class^="tabs-input-"][id="sharing"]:checked ~ .tabs-grid #tab-sharing {
  display: flex;
}
.tabs [class^="tabs-input-"][id="wheater"]:checked ~ ul [for="wheater"]:after {
  display: block;
}
.tabs [class^="tabs-input-"][id="wheater"]:checked ~ .tabs-grid #tab-wheater {
  display: flex;
}

/* FOOTER */

.footer {
  background-color: rgb(97, 95, 155);
  text-align: center;
  padding: 3em 0;
}
.footer-icons {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

.icons {
  display: inline-block;
  cursor: pointer;
  height: 50px;
  width: 50px;
}
/* GLOBALES */

ul {
  padding: 0;
  list-style: none;
}

.u-wrapper {
  max-width: 1280px;
  margin: auto;
  padding: 0 1em;
}

.u-h2 {
  font-size: 2em;
  font-family: "Nunito", sans-serif;
}
.proyectos-title {
  font-size: 2em;
  font-family: "Nunito", sans-serif;
  padding-top: 3em;
  margin: 0;
}
.u-p {
  line-height: 1.8;
  font-size: 1.1em;
  font-family: "Roboto", sans-serif;
}
.u-button {
  color: rgb(97, 95, 155);
  text-decoration: none;
  text-align: center;
  font-size: 0.85em;
  font-weight: bold;
  padding: 7px 5px;
  border-radius: 10px;
  width: 250px;
  border: 3px solid rgb(97, 95, 155);
  box-shadow: 0 5px 10px -5px var(--softBlue);
  animation: rotateIn;
  animation-duration: 1.3s;
}
.u-button:hover {
  background-color: rgb(97, 95, 155);
  color: #f2f2f2;
}

@media screen and (min-width: 487px) {
  .hero {
    text-align: left;
  }
  .hero-title {
    margin-top: 0.3em;
  }
  .hero-parrafo {
    padding-top: 1em;
  }
}
/* MEDIAS QUERYS */

@media screen and (min-width: 1024px) {
  .hero {
    text-align: left;
    padding: 3em 0;
  }
  .hero-grid {
    display: grid;
    align-items: center;
    grid-template-columns: 800px 1fr;
    grid-template-areas: "content image";
  }
  .hero-imageContainer {
    text-align: center;
    grid-area: image;
    position: relative;
    top: 50px;
  }
  .hero-content {
    grid-area: content;
  }
  .hero-title {
    font-size: 3em;
    margin-bottom: 0px;
    margin-top: 15px;
  }
  .hero-parrafo {
    padding-top: 1em;
    font-size: 2em;
  }

  /*menu*/

  .menu {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    position: initial;
    height: auto;
    background: initial;
  }
  .menu-open {
    display: none;
  }
  .menu a {
    color: black;
    margin-top: 0;
    padding: 18px;
  }
  .menu a:after {
    display: block;
    content: "";
    border-bottom: solid 4px rgb(97, 95, 155);
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
  }
  .menu a:hover:after {
    transform: scale(1);
  }
  .menu li {
    border: none;
  }
  .menu li:last-child a {
    border: none;
    margin-top: 0;
    padding: 18px;
    color: black;
  }
  .menu ul {
    display: flex;
  }

  /*globales*/

  .u-h2 {
    font-size: 2em;
  }
  .u-p {
    font-size: 1.5em;
  }
  .tabs {
    border-top: none;
    text-align: left;
  }
  .u-button {
    font-size: 1.5em;
    display: block;
    padding: 16px 10px;
    color: rgb(97, 95, 155);
  }
  .tabs ul {
    display: flex;
    justify-content: center;
  }
  [class^="tabs-label-"] {
    padding: 2em 2em;
  }
  [class^="tabs-label-"]:after {
    width: 100%;
    transform: translateX(0);
  }

  .tabs-content {
    flex-direction: row;
    align-items: center;
    margin-bottom: 2em;
  }

  [class^="tabs-img-"] {
    width: 80%;
    /* border-radius: 10px; */
    cursor: pointer;
    margin: 0;
  }

  /*footer*/

  .footer {
    padding: 0em;
  }
  .footer-content {
    display: flex;
    justify-content: flex-start;
  }

  .icons {
    cursor: pointer;
    width: 75px;
    height: 75px;
  }
  .footer-icons {
    padding: 80px;
    cursor: initial;
    display: inline-block;
  }
}
