:root {
  --softBlue: #5368df;
  --softRed: #fa5757;
  --grayishBlue: #9194a1;
  --veryDarkBlue: #252b46;
}
body {
  font-family: "Rubik", sans-serif;
  margin: 0;
  font-size: 18px;
  width: 100%;
}

/* HEADER */

.header {
  background: #fff;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  padding: 1em 0;
  transition: 0.3s background;
  z-index: 2;
  box-shadow: 0px 6px 7px -4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 6px 7px -4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 6px 7px -4px rgba(0, 0, 0, 0.2);
}

.header__content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu {
  visibility: hidden;
  position: absolute;
  opacity: 0;
  left: 0;
  right: 0;
  top: 100%;
  background: rgba(47, 53, 79, 0.9);
  height: 100vh;
  transform: translateY(-50px);
  transition: 0.3s transform, 0.5s opacity;
  will-change: transform;
}
.menu ul {
  padding: 0;
  list-style: none;
}
.menu li {
  border-top: 1px solid var(--grayishBlue);
}
.menu li:last-child a {
  border: 2px solid #fff;
  border-radius: 5px;
  margin-top: 1em;
  padding: 0.7em;
}
.menu a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  text-align: center;
  padding: 1em;
  letter-spacing: 2px;
}
.menu-open {
  user-select: none;
  width: 40px;
  height: 40px;
  display: inline-flex;
  cursor: pointer;
  background: url("../images/icon-hamburger.svg") no-repeat center;
}
.menu-checkbox {
  display: none;
}
.menu-checkbox:checked ~ .header {
  background: rgba(47, 53, 79, 0.9);
}
.menu-checkbox:checked ~ .header .menu-open {
  background-image: url("../images/icon-close.svg");
}
.menu-checkbox:checked ~ .header .header-logo {
  background-image: url("../images/logo-bookmark-white.svg");
}
.menu-checkbox:checked ~ .header .menu {
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
}

/* hero */

.hero {
  text-align: center;
  padding: 4em 0;
}
.hero-image {
  max-width: 100%;
}
.hero-title {
  /* font-size: 30px; */
  font-size: 2em;
  margin-top: 0;
}
.hero-content-img {
  display: flex;
  /* width: 800px; */
}

.hero-parrafo {
  font-size: 1em;
}
.hero-buttons {
  padding-top: 1em;
}
.cohete {
  height: 100px;
}

/* FEATURES */

.features {
  text-align: center;
  padding: 3em 0;
}
.features .u-wrapper > .u-p {
  max-width: 580px;
  margin: 0 auto;
}

.tabs {
  margin-top: 2em;
  border-top: 1px solid var(--grayishBlue);
}
.tabs-link {
  border-bottom: 1px solid var(--grayishBlue);
}
.tabs-content {
  display: none;
  flex-direction: column;
}
[class^="tabs-img-"] {
  max-width: 100%;
  margin-bottom: 1.5em;
}
.tabs-grid {
  margin-top: 4em;
}
[class^="tabs-label-"] {
  padding: 1em 0;
  display: block;
  position: relative;
}
.tabs [class^="tabs-label-"]:after {
  display: none;
  content: "";
  height: 5px;
  position: absolute;
  bottom: 0;
  width: 50%;
  left: 0;
  transform: translateX(50%);
  box-shadow: inset 0 -15px 0 -10px var(--softRed);
}

.tabs input {
  display: none;
}
.tabs
  [class^="tabs-input-"][id="bookmarking"]:checked
  ~ ul
  [for="bookmarking"]:after {
  display: block;
}
.tabs
  [class^="tabs-input-"][id="bookmarking"]:checked
  ~ .tabs-grid
  #tab-bookmarking {
  display: flex;
}
.tabs
  [class^="tabs-input-"][id="searching"]:checked
  ~ ul
  [for="searching"]:after {
  display: block;
}
.tabs
  [class^="tabs-input-"][id="searching"]:checked
  ~ .tabs-grid
  #tab-searching {
  display: flex;
}
.tabs [class^="tabs-input-"][id="sharing"]:checked ~ ul [for="sharing"]:after {
  display: block;
}
.tabs [class^="tabs-input-"][id="sharing"]:checked ~ .tabs-grid #tab-sharing {
  display: flex;
}

/* FOOTER */

.footer {
  background: var(--veryDarkBlue);
  text-align: center;
  padding: 3em 0;
}
.footer-icons {
  color: #fff;
  text-decoration: none;
}

.footer-icons {
  width: 40px;
  height: 40px;
  display: inline-block;
  padding: 10px;
}

.icons {
  height: 50px;
  width: 50px;
}
/* GLOBALES */

ul {
  padding: 0;
  list-style: none;
  margin: 0;
}

.u-wrapper {
  max-width: 1280px;
  margin: auto;
  padding: 0 1em;
}
.u-h1,
.u-h2,
.u-h4 {
  font-size: 2em;
  font-weight: 500;
}
.u-h2 {
  font-size: 1.5em;
}
.u-h4 {
  font-size: 1.3em;
  margin-top: 0.5em;
}
.u-p {
  color: var(--veryDarkBlue);
  line-height: 1.8;
  font-size: 0.9em;
}
.u-button {
  background: var(--softBlue);
  outline: none;
  color: #fff;
  padding: 1em 1em;
  font-size: 0.85em;
  font-weight: 500;
  border-radius: 0.5em;
  margin-left: 0.5em;
  border: none;
  cursor: pointer;
  -webkit-appearance: none;
  box-shadow: 0 5px 10px -5px var(--softBlue);
}
.u-button:first-of-type {
  margin: 0;
}
.u-button.is-red {
  color: #f7f7f7;
  background: var(--softRed);
}
.u-button.is-gray {
  color: var(--veryDarkBlue);
  background: #f7f7f7;
}
.u-button.is-fullwidth {
  width: 100%;
}

.links {
  text-decoration: none;
  color: white;
}

/* MEDIAS QUERYS */

@media screen and (min-width: 1024px) {
  .hero {
    text-align: left;
    padding: 2em 0;
  }
  .hero-grid {
    display: grid;
    align-items: center;
    grid-template-columns: 800px 1fr;
    grid-template-areas: "content image";
  }
  .hero-imageContainer {
    text-align: center;
    grid-area: image;
    position: relative;
    top: 50px;
  }
  .hero-content {
    grid-area: content;
  }
  .hero-title {
    font-size: 3em;
    margin-bottom: 0px;
    margin-top: 15px;
  }
  .hero-parrafo {
    font-size: 2em;
  }
  .links {
    font-size: 1.5em;
  }
  .u-button {
    /* font-size: 1.2em; */
  }
}

@media screen and (min-width: 1024px) {
  .menu {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    position: initial;
    height: auto;
    background: initial;
  }
  .menu-open {
    display: none;
  }
  .menu a {
    color: var(--veryDarkBlue);
  }
  .menu li {
    border: none;
  }
  .menu li:last-child a {
    border-radius: 0.5em;
    border: none;
    margin-top: 0;
    padding: 0.7em 2em;
    background: var(--softRed);
    color: #fff;
    margin-left: 2em;
  }
  .menu ul {
    display: flex;
  }
}

@media screen and (min-width: 1024px) {
  .u-h2 {
    font-size: 2em;
  }
  .u-p {
    font-size: 1.5em;
  }
  .tabs {
    border-top: none;
    text-align: left;
  }
  .tabs ul {
    display: flex;
    justify-content: center;
  }
  [class^="tabs-label-"] {
    padding: 2em 2em;
  }
  [class^="tabs-label-"]:after {
    width: 100%;
    transform: translateX(0);
  }

  .tabs-content {
    flex-direction: row;
    align-items: center;
  }
  [class^="tabs-img-"] {
    width: 80%;
    /* height: 280px; */
    border-radius: 10px;
    cursor: pointer;
    margin: 0;
  }
}

@media screen and (min-width: 1024px) {
  /* .footer img {
    margin-right: 2em;
  } */
  .footer-content {
    display: flex;
    justify-content: flex-start;
  }
  .footer-menu {
    display: flex;
    margin: 0;
  }
  .footer-primary {
    display: flex;
    align-items: center;
  }

  .icons {
    width: 75px;
    height: 75px;
  }
  .footer-icons {
    padding: 80px;
  }
}
